/*
    resources used:
        cursors: https://www.rw-designer.com/cursor-set/win-95-98
        icons: https://win98icons.alexmeub.com/
        neco arc images: random websites
*/

* {
    user-select: none;
    image-rendering: pixelated;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Tahoma, monospace, sans-serif;
    background-color: #048383;
    margin: 0;
    padding: 0;
    overflow: hidden;
    cursor: url("../assets/cursors/default.cur"), default;
}

.desktop-icons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    width: 100px;
}

.desktop-icon {
    text-align: center;
    cursor: url("../assets/cursors/pointer.cur"), pointer;
}

.desktop-icon:hover {
    text-decoration: underline;
    color: white;
}

.desktop-icon p {
    color: white;
    font-size: small;
}

.task-bar {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #C0C0C0;
    box-shadow: 
        white 0px -1px,
        #C0C0C0 -2px -2px,
        #C0C0C0 2px -2px;
}

.task-bar-contents {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.task-bar-contents #start-button-div {
    box-shadow: 
        white -2px -2px,
        white -2px 0px,
        white 0px -2px,
        black -2px 2px,
        black 2px -2px,
        black 2px 2px,
        inset -2px -2px #C0C0C0;
    padding-right: 6px;
    padding-left: 4px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.task-bar-contents .clock-div {
    box-shadow: 
        grey -2px -2px,
        grey -2px 0px,
        grey 0px -2px,
        white -2px 2px,
        white 2px -2px,
        white 2px 2px;
    padding: 5px;
}

.start-menu {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    box-shadow: 
        white -1px -1px,
        white -1px 0px,
        white 0px -1px,
        black -1px 1px,
        black 1px -1px,
        black 1px 1px,
        inset -1px -1px #C0C0C0;
    background-color: #C0C0C0;
    position: absolute;
    bottom: 34.5px;
    left: 4px;
    width: 200px;
    z-index: 1;
}

.start-menu .start-menu-items p:hover {
    background-color: #000080;
    color: white;
}

.start-menu .start-menu-items {
    grid-area: 1 / 2;
    font-size: small;
}

.start-menu .start-menu-items p {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
    color: black;
}

.start-menu .side-label-div {
    background-color: grey;
    grid-area: 1 / 1;
    display: flex;
    align-items: flex-end;
}

.side-label {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    margin-bottom: 10px;
    color: #C0C0C0;
}

.side-label span {
    margin-top: 2px;
    color: white;
}

/* ********************************************************************* */

@font-face {
    font-family: Hina-Mincho-Regular;
    src: url("../assets/fonts/Hina-Mincho-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

/* .neco-top-bar {
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-between;
    gap: 10px;
} */

/* #jp-text {
    font-family: Hina-Mincho-Regular;
} */

/* .menu-item:hover {
    text-decoration: underline;
} */

/* .menu-item {
    margin-left: 2px;
    margin-bottom: 2px;
    padding: 2px 6px 3px;
    background-color: silver;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    box-shadow: inset 1px 1px #dfdfdf,1px 0 #000,0 1px #000,1px 1px #000;
} */

.popup-window {
    background-color: #c0c0c0;
    border: 1px solid #000;
    box-shadow:
        inset -1px -1px #dfdfdf,
        inset 1px 1px #0a0a0a,
        inset -2px -2px #fff,
        inset 2px 2px #808080;
    padding: 2px;
    position: absolute;
    z-index: 100;
}

.control-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000080;
    padding: 2px 4px;
    cursor: url("../assets/cursors/grab.cur"), grab;
}

#window-title p {
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    margin: 0;
    padding: 0 4px;
}

#control-buttons {
    display: flex;
    flex-direction: row-reverse;
}

#control-buttons button {
    background: #c0c0c0;
    width: 20px;
    height: 18px;
    margin-left: 2px;
    padding: 0;
}

.popup-window > p {
    background: #fff;
    border: 1px solid #808080;
    padding: 10px;
    margin: 4px 2px 2px 2px;
    font-size: 14px;
    line-height: 1.4;
}

/* #jp-text {
    display: inline;
    font-size: 20px;
    margin: 0 5px;
} */

/* @media (min-width: 990px) {
    .neco-top-bar {
        flex-direction: row-reverse;
    }
} */