/*
    resources used:
        cursors: https://www.rw-designer.com/cursor-set/win-95-98
        icons: https://win98icons.alexmeub.com/
        neco arc images: random websites
*/

@font-face {
    font-family: Hina-Mincho-Regular;
    src: url("../assets/fonts/Hina-Mincho-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

* {
    user-select: none;
    image-rendering: pixelated;
    cursor: url("../assets/cursors/default.cur"), default;
}

body {
    font-family: "Tahoma", "Arial", sans-serif;
    background-color: #c0c0c0;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.neco-top-bar {
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-between;
    gap: 10px;
}

#jp-text {
    font-family: Hina-Mincho-Regular;
}

.menu-item:hover {
    text-decoration: underline;
}

.menu-item {
    margin-left: 2px;
    margin-bottom: 2px;
    padding: 2px 6px 3px;
    background-color: silver;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    box-shadow: inset 1px 1px #dfdfdf,1px 0 #000,0 1px #000,1px 1px #000;
}

.popup-window {
    background-color: #c0c0c0;
    border: 1px solid #000;
    box-shadow:
        inset -1px -1px #dfdfdf,
        inset 1px 1px #0a0a0a,
        inset -2px -2px #fff,
        inset 2px 2px #808080;
    padding: 2px;
    position: absolute;
    z-index: 100;
}

.control-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000080;
    padding: 2px 4px;
    height: 18px;
    cursor: url("assets/cursors/grab.cur"), grab;
}

#window-title p {
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    margin: 0;
    padding: 0 4px;
}

#control-buttons {
    display: flex;
    flex-direction: row-reverse;
}

#control-buttons button {
    background: #c0c0c0;
    width: 20px;
    height: 18px;
    margin-left: 2px;
    padding: 0;
}

.popup-window > p {
    background: #fff;
    border: 1px solid #808080;
    padding: 10px;
    margin: 4px 2px 2px 2px;
    font-size: 14px;
    line-height: 1.4;
}

main {
    padding: 20px;
}

#jp-text {
    display: inline;
    font-size: 20px;
    margin: 0 5px;
}

footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    color: #fff;
    text-align: center;
    width: 100%;
}

@media (min-width: 990px) {
    .neco-top-bar {
        flex-direction: row-reverse;
    }
}